<% include ./partials/header %>

<h1>LOGIN</h1>

<form method="POST" action="/login">
    <input type="text" placeholder="Username" name="username" required>
    <input type="password" placeholder="Password" name="password" required>
    <button class="btn btn-md btn-primary">Login</button>
</form>

<% include ./partials/footer %>