<% include ./partials/header %>

<h1>REGISTER</h1>

<form method="POST" action="/register">
    <input type="text" placeholder="Username" name="username" required>
    <input type="password" placeholder="Password" name="password" required>
    <button class="btn btn-md btn-success">Sign Up</button>
</form>

<% include ./partials/footer %>